<div ng-controller="NavCtrl" ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#home" name="home">
                Home
            </md-nav-item>
            <md-nav-item md-nav-href="#aboutme" name="aboutMe">
                About Me
            </md-nav-item>
            <md-nav-item md-nav-href="#aboutcode" name="aboutCode">
                My Projects
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>